bottle==0.13.4
proxy_tools==0.1.0
pywebview==6.1
typing_extensions==4.15.0

packaging==26.0; sys_platform == "linux"
PyQt6==6.11.0; sys_platform == "linux"
PyQt6-Qt6==6.11.0; sys_platform == "linux"
PyQt6-WebEngine==6.11.0; sys_platform == "linux"
PyQt6-WebEngine-Qt6==6.11.0; sys_platform == "linux"
PyQt6_sip==13.11.1; sys_platform == "linux"
QtPy==2.4.3; sys_platform == "linux"

cffi==2.0.0; platform_system == "Windows"
clr_loader==0.2.10; platform_system == "Windows"
pycparser==3.0; platform_system == "Windows"
pythonnet==3.1.0rc0; platform_system == "Windows"
