beautifulsoup4==4.14.3
bottle==0.13.4
certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
packaging==26.0
proxy_tools==0.1.0
PyQt6==6.11.0
PyQt6-Qt6==6.11.0
PyQt6-WebEngine==6.11.0
PyQt6-WebEngine-Qt6==6.11.0
PyQt6_sip==13.11.1
pywebview==6.1
QtPy==2.4.3
requests==2.32.5
soupsieve==2.8.3
typing_extensions==4.15.0
urllib3==2.6.3
