@use "@/styles/colors" as *;

.dialog-wrapper {
	width: 100vw;
	height: 100vh;

	top: 0;
	left: 0;
	position: fixed;

	align-items: center;
	justify-content: center;

	background-color: rgb(black, 0.5);
	backdrop-filter: blur(2px);

	z-index: 1;

	.dialog {
		min-width: 360px;
		min-height: 180px;
		padding: 0.5em;
		padding-top: 0;

		flex-direction: column;
		justify-content: space-between;
		gap: 1em;

		background-color: $gray-150;
		border-radius: 1.5em;
		box-shadow: 0px 4px 16px -8px #000;
		
		.dialog-buttons {
			justify-content: flex-end;
			gap: 0.5em;
		}
	}
}
