$gray-100: #121416;
$gray-150: #16181a;

$gray-200: #191b1d;
$gray-250: #191c1e;

$gray-300: #202224;
$gray-350: #202428;

$gray-400: #242628;
$gray-500: #323436;
$gray-600: #424448;
$gray-700: #505256;
$gray-800: #727476;
$gray-900: #aaacaf;

$primary: #009aff;
$primary-2: #1b6dbf;
$primary-hover: #007aff;
$primary-dark: #0f5daf;
